.l-header {
    height: 217px;
    background: $background-color_pink;
    position: relative;
    width: 100%;

    @include media(pc) {
        width: 75%;
        position: relative;
    }

    &__inner{
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0 auto;
        
        @include media(pc) {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }     
    }
}

.l-header__logo {
    
    @include media(mb-up) {
        margin-left: 60px;       
    }
    
    a h1 {
        margin-bottom: 20px;
        font-size: 40px;
        color: $font-color_title;
        font-weight: bold;
        
        @include media(pc) {
            margin-bottom: 0px;
        }
        
        @include media(sp-up){
            margin-bottom: 38px;
            font-size: 60px;
        }   
    }
}
