.l-sidebar {
    padding-left: 46px;
    position: relative;

    @include mq(pc){
        padding-top: 40px;
    }

    @include mq(sp){
        padding-left: 20px;
        
    }

    > p {
        display: block;
        font-size: 34px;
        font-weight: 600;
        color: $font-color_title;
        margin-top: 82px;
        margin-bottom: 90px;
        display: none;

    @include mq(pc){
        display: block;

    }

    
    }
}