.l-sidebar {
    padding-left: 20px;
    position: relative;
    
    @include media(sp-up){
        padding-left: 40px;
        
    }

    > p {
        display: block;
        font-size: 34px;
        font-weight: 600;
        color: $font-color_title;
        margin-top: 82px;
        margin-bottom: 90px;
        display: none;

        @include media(pc){
            display: block;

        }
    }
}