.p-flex-container {
    
    
}

.p-flex-container__inner {
    margin-top: 240px;
}

.p-flex-container__items {
    display: flex;
    flex-wrap: wrap;
  
    @include mq(mb) {
        display: block;
        
            
    }
}

.p-flex-container__item {
    
    @include mq(md) {
        width: 48%;
    
        &:nth-child(n + 3) {
            margin-top: 20px;
    
        }
    
        &:nth-child(even) {
            margin-left: 3%;
        }

    }

    @include mq(mb) {
        width: 100%;

        &:nth-child(even) {
            margin-left: 0px;
        }

        &:nth-child(n + 2) {
            margin-top: 20px;
    
        }
            
    }

    @include mq(pc) {
        width: 32%;

        &:not(:nth-child(3n + 1)){
         margin-left: 1%;
            }
        
        &:nth-child(n + 4) {
            margin-top: 10px;
        }
        
            
        
    }

    img {
        @include mq(mb) {
            width: 100%;
        }
    }


}