.p-front {
    display: flex;
    margin: 40px;

    @include mq(pc) {
        margin-bottom: 455px;
    }

    @include mq(mb) {
        display: block;
        margin: 20px;
    }
    
    &__takeout {
        background: url("../img/takeout.png") no-repeat ;
        background-size: cover;
    }
    
    &__eatin {
        background: url("../img/eatin.png") no-repeat ;
        background-size: cover;
    }

}
