.p-front {
    display: block;
    margin: 20px;

    @include media(mb-up) {
        display: flex;
        margin: 40px;
    }

    @include media(pc) {
        margin-bottom: 455px;
    }
    
    &__takeout {
        background: url("../img/takeout.png") no-repeat ;
        background-size: cover;
    }
    
    &__eatin {
        background: url("../img/eatin.png") no-repeat ;
        background-size: cover;
    }

}
