.p-header__logo {

    display: inline-block;
    vertical-align: middle;
    
    

    a{
        font-size: 42px;
        font-weight: bold;
        color: #707070;
        padding-left: 65px;
       
    
}
}
.fa {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}