.p-html {
    background: #F5F5F5;

    &__text {
        padding: 50px;
        
        pre {
            text-align: left;
            display: inline-block;
            width: 100%;
        }
    }
}