.p-html {
    background: $background-color_gray;

    &__text {
        padding: 50px;
        
        pre {
            text-align: left;
            display: inline-block;
            width: 100%;
        }
    }
}