.p-main {
    position: relative;
    width: 100%;
    background: url(../img/hero3.png) no-repeat center;
    height: 225px;
    background-size: cover;

    @include media(mb-up) {
        background: url(../img/hero1.jpg) no-repeat center;
        height: 530px;
        
    }
    
    &__title {
        font-size: 36px;
        color: $font-white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 40px;
        
        @include media(mb-up) {
            font-size: 44px;
        }
    }
}


