.p-main {
    position: relative;
    width: 100%;
    height: 530px;
    background: url(../img/hero1.jpg) no-repeat center;
    background-size: cover;


    @include mq(md) {
        
        background-image: url(../img/hero1.jpg) ;
       
    }

    @include mq(mb) {
        
        background-image: url(../img/hero3.png);
        height: 225px;
        
    }
}

.p-main__title {
    font-size: 44px;
    color: #EAEAEA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;

    @include mq(mb) {
        font-size: 36px;
    }

}


