.p-menu {
    display: block;
    background: $deep-brown;
    color: $white;
    height: auto;

    @include media(mb-up) {
        display: flex;
        margin-top: 36px;
        height: 317px;
        width: auto;

    }

    &:nth-child(n+2) {
        margin-top: 20px;
    }

    img {
        width: 50%;
        height: auto;

        @include media(mb) {
            width: 100%;
            
        }
    }
    
    .p-menu__text {
        font-size: 20px;
        padding: 40px 20px 60px;
        width: 100%;
        position: relative;
        
        @include media(mb-up) {
            width: 50%;
            
        }

        @include media(tab) {
            padding: 20px 20px 60px;
            
        }
        
        h4 {
            font-size: 16px;
            font-weight: bold;

        }
        
        p {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 45px;
            
        }
        
        .p-menu__button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
}
