.p-pagenation {
    height: 240px;
    align-items: center;
    display: flex;
    justify-content: center;

    @include media(tab) {
        width: 100%;
    
    }

    & ul {
        border: none;
    }

}

.page-numbers {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: $deep-brown;
    border: solid 1px $deep-brown;
    padding: 10px;

    li {
        padding: 0 8px;
    }

}

.prev , .next {
    border: none;
}

.current {
    border: solid 1px $deep-brown;
    background-color: $deep-brown;
    color: $white;
}