.p-quote {
    margin-bottom: 60px;
    padding: 50px 50px 60px 50px;
    background: #F5F5F5;

    @include mq(mb) {
        padding: 20px;
    }
    
    .p-quote__text {
        margin-bottom: 60px;
        
        @include mq(mb) {
            margin-bottom: 30px;       
        }
    }
}