.p-quote {
    margin-bottom: 60px;
    padding: 20px;
    $background-color_gray: #F5F5F5;

    @include media(mb-up) {
        padding: 50px 50px 60px 50px;
       
    }
    
    .p-quote__text {
        margin-bottom: 30px;
        
        @include media(mb-up) {      
            margin-bottom: 60px;       
        }
    }
}