.p-visual {
    margin-bottom: 60px;
    margin-top: 60px;
    
    &__contents {
        display: flex;

        &:nth-child(1) {
            margin-bottom: 110px;
            
        }
        
        
        img {
            width: 43%;
            height: 189px;
            
            @include mq(mb) {
                width: 47%;
                height: 50%;
                
            }
            
        }
        
        p {
            font-size: 16px;
            margin-left: 21px;
            
            @include mq(mb) {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;
                overflow: hidden;
                
            }
            
            
        }
    }
}

