.c-button-send {
   padding: 30px 145px;
   border-radius: 20px;
   border: solid 1px $font-color_title;
   background: linear-gradient(#F2EDE9, #DED8D3);
   
   @include media(mb-up) {  
      padding: 40px 190px;    

   }
}