// .c-drawer__content {
//     position: absolute;
//     right: 0;
//     top: 0;
//     background: #F2EDE9;
//     z-index: 2000;
//     transition: .5s;
//     display: none;
//     height: 100%;
    
   
    
    
    
//     &.is-active {
//         display: block;
//        width: 367px;
//        transition: .5s;
       
//     }

//     @include mq(pc) {
//         width: 25%;
//         display: block;
        
//     }
// }

.c-drawer__icon {
    
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2300;
    display: none;
    // display: none;

    &.is-active {
        display: inline-block;
    }

}

.c-drawer__icon-bars {
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
    
}

.c-drawer__icon-bar1,
.c-drawer__icon-bar2 {
    width: 40px;
    height: 6px;
    background: #707070;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.c-drawer__icon-bar1 {
    transform: rotate(-45deg);
   
}

.c-drawer__icon-bar2 {
    transform: rotate(45deg);
    
}

.c-drawer__menu {
    list-style: none;
    padding-bottom: 200px;
  

    ul {
        
        li {
                list-style: none;
                font-size: 24px;
                color: #707070;
                font-weight: bold;
                font-family: "M+ 1m";
                margin-top: 43px;
                margin-bottom: 20px;

                @include mq(sp){
                    font-size: 100%;
                }
    
            
                >a {
                    text-decoration: none;
                    color: #707070;
                    font-size: 24px;
                    
                    
                }

            }
    }
}


.sub-menu {
    margin-left: 20px;

    li {
        font-size: 30px;

        >a {
            font-weight: normal;

        }
    }
}

.c-drawer__backgroud {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: rgba(112, 112, 112, 1); 
    z-index: 1900;
    transition: .5s;

    &.is-active {
        transition: .5s;
        width: 100%;
    }
}