.c-menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    z-index: 4000;

    &.is-active {
        display: none;
    }

    @include media(mb-up){
        top: 18px;
        right: 26px;
        font-size: 34ox;
    }
    
    @include media(pc) {
        display: none;
        
    }
}

.c-menu-button__button {
    border: none;
    background: $background-color_pink;
    color: $font-color_title;
}

.c-menu-button__pc {
    position: absolute;
    top: 82px;
    left: 46px;
    border: none;
    background: transparent;
    font-size: 34px;
    font-weight: bold;
    color: $font-color_title;
    display: none;
    
    @include media(pc) {
        display: block;
    }
}
