.c-searchform{

    @include media(pc){
        margin-right: 20px;
    }
}

.c-searchform__input {
    width: 300px;
    height: 3rem;
    border-radius: 0.6rem;
    border: solid 1px #707070;
    font-size: 1.6rem;
    margin-right: 10px;

    @include media(mb){
        width: 200px;
    }
}

.c-searchform__button{
    width: 100px;
    height: 3rem;
    
    background-color: $button-background;
    border-radius: 0.6rem;
    border: solid 1px $font-color_title;
    color: $font-color_title;
    cursor: pointer;
   
    @include media(mb-up){
        width: 7rem;
    }
}